<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration numbers || Mthunzi Tom</title>
    
</head>
<body>
    <div class="container">
        <nav>Nav</nav>
        <main class="enterRegNum">Main</main>
        <div class="displayRegNum">Content1</div>
        <div class="enteredRegNum">Content2</div>
        <footer>Footer</footer>
    </div>
</body>
</html>