<div class="container">
    <nav>
        <h1>Mthunzi Tom | Registration Numbers App</h1>
    </nav>

    <main class="enterRegNum">
        <h2>Mbhaliso Numbers App</h1>

        <div class="regContainer">
            <label for="regNumberInput">Enter registration number:</label>
            <input type="text" name="regNumberInput" id="regNum">
            <button type="submit" id="addButton">Add</button>
        </div>

    </main>

    <div class="displayRegNum">
        <h3>Entered Registration Numbers:</h2>
        <div class="regNumbers"></div>
    </div>

    <footer>mthunzitom@gmail.com</footer>

</div>