<div class="container">
    <nav>
        <h1>Mthunzi Tom | Registration Numbers App</h1>
    </nav>

    <main class="enterRegNum">
        <h2>Mbhaliso Mangama App</h1>

        {{#if messages}}
            <div class="messages">{{messages}}</div>
        {{/if}}

        <div class="regContainer">

            <form action="/sendRegNumber" method="post">
                <div class="inputContainer">
                    <label for="regNumberInput">Enter registration number:</label>
                    <input type="text" name="regNumberInput" id="regNum" placeholder="Enter a registration number">
                    <span id="buttons">
                        <button class="allButtons" type="submit" id="addButton">Add</button>
                    </span>
                </div>
            </form>

            <form action="/filter" method="post">

                <div class="filterContainer">

                    <label class="radioContainer">
                        <input type="radio" name="regNumber" value="1" class="radioButton">
                        <strong><span class="label-body">Cape Town(ca)</span></strong>
                    </label>

                    <label class="radioContainer">
                        <input type="radio" name="regNumber" value="3" class="radioButton">
                        <strong><span class="label-body">STELLENBOSCH(cl)</span></strong>
                    </label>

                    <label class="radioContainer">
                        <input type="radio" name="regNumber" value="2" class="radioButton">
                        <strong><span class="label-body">PAARL(cj)</span></strong>
                    </label>

                    <span id="buttons">
                        <button class="allButtons" type="submit" id="showButton">Show</button>
                    </span>
                </div>

            </form>

             <form action="/reset" method="post">
                <div id="resetButton">
                    <span>
                        <button class="allButtons" type="submit" onclick="return resetOnClick()">Reset</button>
                    </span>
                </div>
            </form> 
  
        </div>

    </main>

    <div class="displayRegNum">
        <h3>Entered Registration Numbers:</h2>

        <div class="regNumbers">
        {{#each registrationNumbers}}
                <li id="regNumberPlate">{{this}}</li>
        {{/each}}
        </div>

    </div>

    <footer>mthunzitom@gmail.com</footer>

</div>

<script>
    setTimeout(function() {
        const messages = document.querySelector(".messages");
        if (messages) {
            messages.style.display = "none";
        };
    }, 3000);

    function resetOnClick() {
        return confirm("Are you sure you want to delete the data?");
    }
</script>