<div class="container">
    <nav>
        <h1>Mthunzi Tom | Registration Numbers App</h1>
    </nav>

    <main class="enterRegNum">
        <h2>Mbhaliso Mangama App</h1>

        <div class="messages {{alertClassNames}}">{{messages}}</div>

        <div class="regContainer">

            <form action="/sendRegNumber" method="post">
                <label for="regNumberInput">Enter registration number:</label>
                <input type="text" name="regNumberInput" id="regNum">
                <button type="submit" id="addButton">Add</button>
            </form>

            <form action="/reset" method="post">
                <button type="submit" id="resetButton" onclick="(resetOnClick())">Reset</button>
            </form>

            <form action="/filter" method="post">

                <div class="filterContainer">

                    <label class="">
                        <input type="radio" name="regNumber" value="1" class="radioButton">
                        <strong><span class="label-body">Cape Town(ca)</span></strong>
                    </label>

                    <label class="">
                        <input type="radio" name="regNumber" value="2" class="radioButton">
                        <strong><span class="label-body">STELLENBOSCH(cl)</span></strong>
                    </label>

                    <label class="">
                        <input type="radio" name="regNumber" value="3" class="radioButton">
                        <strong><span class="label-body">PAARL(cj)</span></strong>
                    </label>

                    <button type="submit" id="showButton">Show</button>
                </div>

            </form>
            
        </div>

    </main>

    <div class="displayRegNum">
        <h3>Entered Registration Numbers:</h2>

        {{#each registrationNumbers}}
            <div class="regNumbers">
                <ul>
                    <li id="regNumberPlate">{{this}}</li>
                </ul>
            </div>
        {{/each}}

    </div>

    <footer>mthunzitom@gmail.com</footer>

</div>

<script>
    setTimeout(function() {
        const messages = document.querySelector(".messages");
        if (messages) {
            messages.style.display = "none";
        };
    }, 3000);

    function resetOnClick() {
        return confirm("Are you sure you want to delete the data?");
    }
</script>