:root {
    --main-radius:5px;
    --main-padding:5px;
    --other-padding: 2rem;
    --main-margin:2.5px;
    --font-size:1.3em;

    /* color scheme */
    --main-container: #212529;
    --nav-bar: #6C757D;
    --text-color: #F8F9FA;
    --reg-plate: #6C757D;
    --other: #495057;
    --footer: #343A40;
}

.container {
    display: grid;
    height: 100vh;

    background-color: var(--main-container);

    /* page contains 2 columns */
    grid-template-columns: 1fr 1fr;

    grid-template-rows: 0.2fr 1.2fr 1.5fr 0.2fr;

    grid-template-areas: 
    "nav nav"
    "enterRegNum enterRegNum"
    "displayRegNum displayRegNum"
    "footer footer";
    grid-gap: 0.2rem;
    font-family: 'Lugrasimo', cursive;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    font-weight: 800;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}

nav {
    background-color: var(--nav-bar);
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.messages {
    padding-top: var(--other-padding);
    margin: var(--main-margin);
}

.enterRegNum {
    /* background-color: #00A8E8; */
    grid-area: enterRegNum;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.inputContainer {
    padding-top: var(--other-padding);
    margin: var(--main-margin);
}

label {
    font-size: var(--font-size);
}

#buttons {
    padding-left: var(--other-padding);
}

.allButtons {
    background-color: var(--other);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: var(--main-radius);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.allButtons:hover {
    transform: scale(1.1);
}

#resetButton {
    padding-top: var(--other-padding);
}

.filterContainer {
    padding-top: var(--other-padding);
    margin: var(--main-margin);
}

.radioContainer {
    padding-left: var(--other-padding);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.radioContainer:hover {
    transform: scale(1.1);
}

.displayRegNum {
    background-color: var(--other);
    grid-area: displayRegNum;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: center;
}

.regNumbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

#regNumberPlate {
    list-style-type: none;
    border-radius: 1rem;
    padding: var(--main-padding);
    margin: 1em;
    background-color: var(--reg-plate);
    border: 2px solid var(--text-color);
    width: 15%;
    height: auto;
}

footer {
    background-color: var(--footer);
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

@media only screen and (max-width:720px){
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2.2fr 2.5fr 1fr;
        grid-template-areas: 
        "nav"
        "enterRegNum"
        "displayRegNum"
        "enteredRegNum"
        "footer";
    }
}