:root {
    --main-radius:5px;
    --main-padding:5px;
    --main-margin:2.5px;
}

.container {
    display: grid;
    height: 100vh;

    background-color: #E9ECEF;

    /* page contains 2 columns */
    grid-template-columns: 1fr 1fr;

    grid-template-rows: 0.2fr 1.2fr 1.5fr 0.2fr;

    grid-template-areas: 
    "nav nav"
    "enterRegNum enterRegNum"
    "displayRegNum displayRegNum"
    "footer footer";
    grid-gap: 0.2rem;
    font-family: 'Lugrasimo', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}

nav {
    background-color: #6C757D;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.enterRegNum {
    /* background-color: #00A8E8; */
    grid-area: enterRegNum;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.displayRegNum {
    background-color: #ADB5BD;
    grid-area: displayRegNum;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: center;
}

.regNumbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

#regNumberPlate {
    list-style-type: none;
    border-radius: 1rem;
    padding: 2em;
    margin: 2em;
    background-color: #6C757D;
    border: 2px solid #E9ECEF;
    width: 25%;
}

footer {
    background-color: #6C757D;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

@media only screen and (max-width:720px){
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2.2fr 2.5fr 1fr;
        grid-template-areas: 
        "nav"
        "enterRegNum"
        "displayRegNum"
        "enteredRegNum"
        "footer";
    }
}